#collection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#name {
  margin-top: 5%;
  color: grey;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
