nav {
  background-color: #00456b;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  width: 100%;
}

a {
  color: #ff9628;
}

.em2 {
  font-size: 2em;
  margin-bottom: 0;
}

.em21 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.fa-shopping-cart {
  position: relative;
}

.hidden {
  height: 1.5em;
  width: 1.5em;
  position: relative;
  display: inline-block;
  visibility: hidden;
}
