.margin-top {
  margin-top: 1em;
}

.margin-left {
  margin-left: 3em;
}

.margin-right {
  margin-right: 2.5em;
}

.margin-left-price {
  margin-left: 1em;
}

.em12 {
  font-size: 1.2em;
}

.em25 {
  font-size: 2.5em;
}

.justify {
  text-align: justify;
}

.fa-cart-plus {
  margin: 0 1em;
  background-color: #00456b;
  color: #ff9628;
  padding: 0.4em 0.35em;
  border-radius: 2em;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
