body {
  background-color: #00456B;
}

#wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  text-transform: uppercase;
  color: #FF9628;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

#bottom {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: 200px;
  margin-left: -140px;
  left: 50%;
}

#button {
  color: white;
  position: absolute;
  bottom: 150px;
  margin-left: -40px;
  left: 50%;
}
