.wrap {
  background-color: #00456b;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center {
  /* text-transform: uppercase; */
  color: #ff9628;
  font-family: 'Roboto', sans-serif;
}

.bottom {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  position: absolute;
  bottom: 20%;
  text-align: center;
  /* margin-left: -140px;
  left: 50%; */
}

.font100 {
  font-weight: 100;
}

.font400 {
  font-weight: 400;
}

.fa-chevron-down {
  color: white;
}

.em3 {
  font-size: 3em;
}

.em15 {
  font-size: 1.5em;
}
