@import 'src/scss/_variables.scss';

// style for all components (don't remove!)
body {
  background-color: $white-color;
  font-family: $font-family;
  font-size: 100%;

  a {
    color: $orange-color;
  }
}

//____________________________________________________________________________________________________________
// style for StartPage, SignIn and Registration (don't remove!)

.container-fluid {
  background-color: $blue-color;
  min-height: 100vh;

  .title {
    color: $orange-color;
    font-size: $font-size-7;
  }

  .subtitle {
    font-weight: $font-weight-bold;
    color: $white-color;
    font-size: $font-size-4;
    .fa-chevron-down {
      color: $white-color;
      font-size: $font-size-4;
    }
  }

  .top-title {
    font-weight: $font-weight-light;
  }

  .form {
    input {
      outline: none;
      line-height: 2em;
      &:invalid {
        &:not(:placeholder-shown) {
          border-color: $notvalid-color;
        }
      }
      &:valid {
        &:not(:placeholder-shown) {
          border-color: $valid-color;
        }
      }
    }

    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
      color: $grey-color;
      font-size: $font-size-2;
    }

    input[type='checkbox'] {
      height: 0.75em;
      width: 0.75em;
      -webkit-transform: scale(2, 2);
      -moz-transform: scale(2, 2);
      -o-transform: scale(2, 2);
      transform: scale(2, 2);
    }

    label {
      color: $grey-color;
    }
  }

  .login {
    color: $orange-color;
    font-size: $font-size-6;
    font-weight: $font-weight-bold;
  }
}

//___________________________________________________________________________________________________________
// style for Navigation and Counter:

nav {
  background-color: $blue-color;
  font-weight: $font-weight-light;

  .fa-shopping-cart,
  .fa-user {
    font-size: $font-size-5;
  }

  .header {
    font-size: $font-size-6;
  }

  .circle {
    border: 0.12em solid $orange-color;
    background-color: $blue-color;
    color: $orange-color;
    font-size: $font-size-circle;
    font-weight: $font-weight-bold;
    position: absolute;
    top: -0.6em;
    right: 0;
    z-index: 1;
    animation-duration: 0.5s;
  }
}

//___________________________________________________________________________________________________________
// style for Collection

.top {
  margin-top: 6em;
}

.pulse {
  font-size: $font-size-7;
  font-weight: $font-weight-normal;
}

//___________________________________________________________________________________________________________
// style for Item

.model {
  font-weight: $font-weight-normal;
  font-size: $font-size-5;
}

.price {
  font-weight: $font-weight-normal;
  font-size: $font-size-3;
}

//___________________________________________________________________________________________________________
// style for all other components (PITÄÄ KORJATA!)

.font-light {
  font-weight: $font-weight-light;
}

.font-bold {
  font-weight: $font-weight-normal;
}

.em3 {
  font-size: $font-size-7;
}

.em15 {
  font-size: $font-size-4;
}

p {
  text-align: center;
}

.em1 {
  font-size: $font-size-1;
}

.left10 {
  margin-left: 10%;
}

.top5 {
  margin-top: 5%;
}

.em2 {
  font-size: $font-size-5;
  margin-bottom: 0;
}

.em21 {
  font-size: $font-size-6;
  margin-bottom: 0;
}

.fa-shopping-cart {
  position: relative;
}

.hidden {
  height: 1.5em;
  width: 1.5em;
  position: relative;
  display: inline-block;
  visibility: hidden;
}

.margin-top {
  margin-top: 1em;
}

.margin-left {
  margin-left: 3em;
}

.margin-right {
  margin-right: 2.5em;
}

.margin-left-price {
  margin-left: 1em;
}

.em12 {
  font-size: $font-size-3;
}
.em25 {
  font-size: $font-size-6;
}

.justify {
  text-align: justify;
}

.fa-cart-plus {
  margin: 0 1em;
  background-color: $blue-color;
  color: $orange-color;
  padding: 0.4em 0.35em;
  border-radius: 2em;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.Dropdown-root {
  display: inline-block;
  margin-left: 4em;
}

.Dropdown-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 3em;
}

.Dropdown-placeholder {
  padding-left: 1.5em;
}

.blueBG {
  background-color: $blue-color;
}

.orangeBG {
  background-color: $orange-color;
}

.blueText {
  color: $blue-color;
}

.orangeText {
  color: $orange-color;
}

.greyBG {
  background-color: $lightgrey-color;
}
