$white-color: #fff;
$blue-color: #00456b;
$orange-color: #ff9628;
$grey-color: #808080;
$lightgrey-color: #d3d3d3;
$valid-color: #008000;
$notvalid-color: #b22222;

$font-family: 'Roboto', sans-serif;
$font-size-1: 1em;
$font-size-2: 1.1em;
$font-size-3: 1.2em;
$font-size-4: 1.5em;
$font-size-5: 2em;
$font-size-6: 2.5em;
$font-size-7: 3em;

$font-weight-thin: 100;
$font-weight-medium: 200;
$font-weight-bold: 400;
