$white-color: #fff;
$blue-color: #00456b;
$orange-color: #ff9628;
$grey-color: #808080;
$lightgrey-color: #d3d3d3;
$valid-color: #008000;
$notvalid-color: #b22222;

$font-family: 'Roboto', sans-serif;
$font-size-1: 1em;
$font-size-2: $font-size-1 * 1.1;
$font-size-3: $font-size-1 * 1.2;
$font-size-4: $font-size-1 * 1.5;
$font-size-5: $font-size-1 * 2;
$font-size-6: $font-size-1 * 2.5;
$font-size-7: $font-size-1 * 3;
$font-size-circle: $font-size-1 * 0.6;

$font-weight-light: 100;
$font-weight-normal: $font-weight-light * 2;
$font-weight-bold: $font-weight-light * 4;
