$white-color: #fff;
$blue-color: #00456b;
$orange-color: #ff9628;
$grey-color: #808080;
$lightgrey-color: #d3d3d3;
$valid-color: #008000;
$notvalid-color: #b22222;

$font-family: 'Roboto', sans-serif;
